<div class="app-card-container">
  <div class="card">
    <h1 style="text-align:center">Would you like to work together?</h1>

    <hr>

    <div class="row">
      <div class="col-md-5" style="margin-top:70px;text-align:center" >
        <h3>Office Address</h3>

        <p>117 Akaki Tsereteli Avenue, Tiflis</p>

        <h3>Phone</h3>

        <p><%= "+995 595 37 36 37" %></p>

        <h3>Email</h3>

        <p><a href="mailto:cotne.ok@gmail.com?subject=From Portfolio Website" "email me">Email Me</a> </p>
      </div>

      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2976.8173503283583!2d44.7761223153463!3d41.746032381647765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4044728e3ff50b2b%3A0x250f47c46a2e799!2zMTE3IOGDrOGDlOGDoOGDlOGDl-GDmuGDmOGDoSDhg5Lhg5Dhg5vhg5bhg5jhg6Dhg5gsIOGDl-GDkeGDmOGDmuGDmOGDoeGDmA!5e0!3m2!1ska!2sge!4v1587050967347!5m2!1ska!2sge" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
  </div>
</div>